<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <section class="container">
    <div class="row mt-5 mb-3">
      <div class="col">
        <h1 class="text-center">Bonjour <%= @user.first_name %>, bienvenue sur le projet Gossip </h1>
      </div>
    </div>
  </section>
  </body>
</html>