<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="container">
      <div class="row mt-5 mb-3">
        <div class="col">
          <h1 class="text-center">Voici le gossip</h1>
          <br><br>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text">
            <h2><%= @gossip.user.first_name %></h2>
            <h4><%= @gossip.content %></h4>
          </p>
          <br><br>

        </div>
      </div>
    </section>
  </body>
</html>