<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <section class="container">
      <div class="row mt-5 mb-8">
        <div class="col">
          <h1 class="text-center">Bienvenue</h1>
          <br><br>
          <h2 class="text-left">Enregistre toi avec le formulaire ci dessous</h2>
          <br>
        </div>
      </div>
      <form action="/welcome/identification" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="input_first">Prénom</label>
          <input type="text" name="user_first_name" class="form-control" id="input_first" placeholder="Mickey">
        </div>
        <div class="form-group">
          <label for="input_last">Nom</label>
          <input type="text" name="user_last_name" class="form-control" id="input_last" placeholder="Mouse">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </body>
</html>